.modal-fs {
    margin: 0;
    height: 100%;
    width: 100%;
}

.modal-fs .modal-content {
    height: 100%;
}

.modal-fs .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
}

.modal-fs .modal-dialog .modal-body {
    padding: 0;
}

.modal-fs .modal-dialog iframe {
    position: fixed;
    border: none;
}

.modal-fs div.btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-fs div.btn i {
    font-size: 32px;
    top: 1px;
}