@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: local("InterTight-Regular"),
    url(InterTight/InterTight-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: local("InterTight-Bold"),
    url(InterTight/InterTight-Bold.woff2) format("woff2");
}